.row {
    display: flex;
    justify-content: center;
}

.calculator {
    width: 350px;
    padding-bottom: 300px;
}

.screen {
    border: none;
    color: white;
    background-color: black;
    font-size: 40px;
    text-align: right;
    outline: none;
    caret-color: transparent;
    appearance: none;
}

.button {
   border: none;
   border-right: 2px solid black;
   border-bottom: 2px solid black;
   background-color: rgb(209, 208, 208);
   font-size: 40px;
}

.button:hover {
    background-color: rgb(226, 225, 225);
}

.four-quarter{
    width: 100%;
    height: 90px;
}

.three-quarter-button {
    width: 75%;
    height: 90px;
}

.two-quarter-button {
    width: 50%;
    height: 90px;
}

.quarter-button {
    width: 25%;
    height: 90px;
}

.button:last-child {
    background-color: rgb(232, 172, 62);
    border: none;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    color: rgb(246, 240, 240);
}

.math-button:hover {
    background-color: rgb(240, 176, 58);
}

.zero-button, .equal-button {
    border-bottom: none;
}

body {
    display: flex;
    justify-content: center;
}

.heading {
    text-align: center;
    font-size: 25;
    font-family: cursive, sans-serif;
    margin-top: 5px;
    margin-bottom: 15px;
    font-weight: 100;
    text-shadow: 0 0 20px rgb(232, 172, 62), 0 0 30px rgb(232, 160, 52);
}

.screen::placeholder {
    color: white;
}

.screen::-webkit-inner-spin-button {
    /* -webkit-appearance: none;
    -moz-appearance: none; */
    appearance: none;
}